In [2]:
%cd ../
%load_ext autoreload
%autoreload 2
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/raid/hkamarthi3/IUC_Project
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
DATA_FILE = "./IUC_Data/0102_ZHVI_230306.csv"
df = pd.read_csv(DATA_FILE)
print(df.columns)
df.head()

Index(['ZIP', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'State',
       'City', 'Metro', 'CountyName', 'X2000.01.31',
       ...
       'X2022.04.30', 'X2022.05.31', 'X2022.06.30', 'X2022.07.31',
       'X2022.08.31', 'X2022.09.30', 'X2022.10.31', 'X2022.11.30',
       'X2022.12.31', 'X2023.01.31'],
      dtype='object', length=286)

,ZIP,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,X2000.01.31,...,X2022.04.30,X2022.05.31,X2022.06.30,X2022.07.31,X2022.08.31,X2022.09.30,X2022.10.31,X2022.11.30,X2022.12.31,X2023.01.31
0,91940,0,77449,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,111025.364504,...,267031.277605,271167.441993,274949.991267,277857.050380,279379.374979,279571.703469,278978.533186,278001.127045,276453.815200,274671.967839
1,91982,1,77494,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,217709.460879,...,460467.367267,467482.802830,473572.893250,477267.065068,477984.861877,476524.002739,474871.543073,473490.978602,471547.993017,469380.296915
2,93144,2,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,93297.846024,...,180425.647045,182618.423967,184808.073687,186768.821493,188315.027071,189360.332747,190107.287314,190872.067470,191400.577159,192365.842160
3,62080,3,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,75454.474440,...,336639.762806,336736.022093,337304.550369,337577.574287,336818.929821,335031.093053,333107.358734,332435.128586,331124.345954,331082.536088
4,62093,4,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,237548.770794,...,743614.071840,750129.456105,757964.299916,763316.251684,764586.578334,761489.401151,758818.529559,756929.158762,753410.376751,750163.629656

In [4]:
STORM_FILE = "./IUC_Data/0101_StormData_230306.csv"
df_storm = pd.read_csv(STORM_FILE)
print(df_storm.columns)
df_storm.head()

Index(['Unnamed: 0', 'ZIP', '062008', '072008', '082008', '092008', '032009',
       '042009', '112009', '012010', '032010', '072010', '102010', '092011',
       '132011', '022012', '042012', '092012', '182012', '012013', '012014',
       '012015', '022015', '032016', '092016', '112016', '142016', '032017',
       '062017', '092017', '112017', '122017', '152017', '162017', '012018',
       '062018', '072018', '142018', '022019', '052019', '112019', '142019',
       '162019', '172019', '012020', '022020', '032020', '062020', '082020',
       '092020', '132020', '142020', '192020', '202020', '222020', '262020',
       '282020', '292020'],
      dtype='object')

,Unnamed: 0,ZIP,062008,072008,082008,092008,032009,042009,112009,012010,...,082020,092020,132020,142020,192020,202020,222020,262020,282020,292020
0,1,35586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,19963,NaN,NaN,34.0,NaN,NaN,NaN,NaN,NaN,...,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,34.0,NaN
2,3,6243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,6060,NaN,NaN,34.0,NaN,NaN,NaN,NaN,NaN,...,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,34113,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,34.0,NaN,NaN,NaN,NaN,34.0

In [6]:
STORM_TIME_FILE = "./IUC_Data/0101_StormTime_230306.csv"
df_storm_time = pd.read_csv(STORM_TIME_FILE)
print(df_storm_time.columns)
df_storm_time

Index(['Unnamed: 0', 'Event', 'Start', 'End'], dtype='object')

    Unnamed: 0   Event       Start         End
0            1   62008  2008081518  2008082318
1            2   72008  2008082512  2008090206
2            3   82008  2008082812  2008090700
3            4   92008  2008090112  2008091406
4            5   32009  2009081518  2009082406
5            6   42009  2009081612  2009081706
6            7  112009  2009110412  2009111006
7            8   12010  2010062606  2010070118
8            9   32010  2010072300  2010072315
9           10   72010  2010082518  2010090512
10          11  102010  2010090606  2010090718
11          12   92011  2011082100  2011082818
12          13  132011  2011090212  2011090500
13          14   22012  2012052518  2012053118
14          15   42012  2012062312  2012062618
15          16   92012  2012082118  2012083018
16          17  182012  2012102218  2012102918
17          18   12013  2013060518  2013060712
18          19   12014  2014070112  2014070506
19          20   12015  2015050706  2015051012
20          21   22015  2015061600  2015061700
21          22   32016  2016060518  2016060706
22          23   92016  2016083106  2016090306
23          24  112016  2016091312  2016091618
24          25  142016  2016092812  2016100906
25          26   32017  2017061918  2017062218
26          27   62017  2017073100  2017073118
27          28   92017  2017081718  2017083018
28          29  112017  2017083006  2017091200
29          30  122017  2017090512  2017092306
30          31  152017  2017091618  2017093012
31          32  162017  2017100506  2017100812
32          33   12018  2018052512  2018053112
33          34   62018  2018083006  2018091812
34          35   72018  2018090306  2018090718
35          36  142018  2018100618  2018101518
36          37   22019  2019071100  2019071606
37          38   52019  2019082406  2019090900
38          39  112019  2019091712  2019091900
39          40  142019  2019100818  2019101418
40          41  162019  2019101818  2019102100
41          42  172019  2019102512  2019102718
42          43   12020  2020051618  2020052100
43          44   22020  2020052706  2020052812
44          45   32020  2020060118  2020061206
45          46   62020  2020070512  2020071118
46          47   82020  2020072300  2020072618
47          48   92020  2020072812  2020080506
48          49  132020  2020082000  2020082906
49          50  142020  2020082018  2020082518
50          51  192020  2020091118  2020091806
51          52  202020  2020091206  2020092406
52          53  222020  2020091706  2020092506
53          54  262020  2020100418  2020101118
54          55  282020  2020102412  2020103000
55          56  292020  2020103118  2020111400

In [7]:
CENSUS_FILE = "./IUC_Data/0103_Census_2012-2016_230316.csv"
df_census = pd.read_csv(CENSUS_FILE)
print(df_census.columns)
df_census.head()

Index(['zip_code_tabulation_area', 'PopTot', 'PopPerChild', 'PopPerOld',
       'PopMedAge', 'PopPerMale', 'PopPerFemale', 'PopPerWhite', 'PopPerBlack',
       'PopPerAmInd', 'PopPerAsian', 'PopPerHawai', 'PopPerNever',
       'PopPerMarSep', 'PopPerDiv', 'PopPerSep', 'PopPerWid', 'HousePerOwner',
       'HousePerRent', 'HousePerFam', 'HousePerNonFam', 'HouseAveSize',
       'HouseAveVeh', 'HouseAveWork', 'HouseAveRoom', 'HouseYr', 'HouseYrOwn',
       'HouseYrRent', 'HouseConsYr', 'IncMed', 'IncPov', 'IncGini', 'IncMortg',
       'IncRent', 'IncVal', 'MobRelocNo', 'MobRelocCty', 'MobRelocSt',
       'MobRelocOut', 'MobPerModeCar', 'MobPerModePub', 'MobPerModeBkWk',
       'MobAveTt', 'MobPerDesRes', 'MobPerDesOut', 'EduPerEnrl',
       'EduPerTypePub', 'EduPerTypePrv', 'EduPerAttBac', 'EduPerAttHi',
       'EmpLfpr', 'EmpUnemp', 'EmpOccMgmt', 'EmpOccSrv', 'EmpOccSale',
       'EmpOccNatCons', 'EmpOccTrans'],
      dtype='object')

,zip_code_tabulation_area,PopTot,PopPerChild,PopPerOld,PopMedAge,PopPerMale,PopPerFemale,PopPerWhite,PopPerBlack,PopPerAmInd,...,EduPerTypePrv,EduPerAttBac,EduPerAttHi,EmpLfpr,EmpUnemp,EmpOccMgmt,EmpOccSrv,EmpOccSale,EmpOccNatCons,EmpOccTrans
0,35004,10418,0.222404,0.135727,37.2,0.493761,0.506239,0.817911,0.159052,0.000000,...,0.073812,0.214992,0.932423,0.716530,0.048735,0.343144,0.127057,0.342230,0.062340,0.125229
1,35005,7708,0.225480,0.171640,41.7,0.504281,0.495719,0.582901,0.408666,0.000259,...,0.162856,0.147544,0.833146,0.561628,0.099047,0.286762,0.144381,0.271090,0.086362,0.211404
2,35006,3099,0.229106,0.129074,43.5,0.548887,0.451113,0.926105,0.066150,0.002904,...,0.235988,0.107434,0.856595,0.469076,0.101884,0.232195,0.119024,0.258537,0.196098,0.194146
3,35007,26630,0.277582,0.115396,36.9,0.486782,0.513218,0.763763,0.120541,0.000000,...,0.214089,0.300532,0.884924,0.669733,0.046976,0.365490,0.169568,0.256770,0.110654,0.097518
4,35010,20826,0.234130,0.180784,41.3,0.468021,0.531979,0.612119,0.345001,0.004466,...,0.033775,0.149174,0.742624,0.526794,0.095979,0.249632,0.173337,0.197965,0.087271,0.291795

# Models
- RNN/Transformer + linear for regression (steps forward)
  - One for each state
  - One for each hurricane event
  - Do LIME, SHAP, etc. to understand what's going on
- Simple Regression/ RF/ XGBoost on past 6 months values plus features
  - One for each state
  - One for each hurricane event
  - Do LIME, SHAP, etc. to understand what's going on
- Same for forecasting and classification